<div class="login-waiting">
  <div class="row justify-content-center">
    <div class="col-5 text-center">
      <i class="fa fa-spin fa-spinner"></i>
      Autenticando...
    </div>
  </div> 
</div> 