<div class="login-page">
  <div class="row justify-content-center">
    <div class="col-5">
      <h3 class="text-center">Listagem de repositórios do github</h3>
      <p class="text-center"> Para listar seus repositórios, fa&ccedil;a login no GitHub </p>
      <a href="https://github.com/login/oauth/authorize?scope=user:email&client_id={{ credentials.clientID }} " class="btn btn-primary link-login">
        <i class="fa fa-github"></i>
        Login with GitHub
      </a>
    </div>
  </div>
</div>