<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand text-light text-center" href="#"> Danilo Rodrigues - Teste para o Banco Pan</a>
</nav>

<div class="container components-container">
  <router-outlet></router-outlet>
</div>
