.repo-item{
	margin-bottom: 20px;

	& .card{
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
		-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
		transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

		&:hover {
			transform: scale(1.05, 1.05);
		}

		&::after{
			content: "";
			border-radius: 5px;
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
			opacity: 0;
			-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
			transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
		}

		&:hover::after {
			opacity: 1;
		}
	}
}