<div class="row justify-content-center">
  <div class="col-8">
    <h2>Lista de seus repositórios</h2>

    <div class="repo-list row" *ngIf="(repos | async)?.length else loading">
      <div class="repo-item col-12" *ngFor="let repo of repos | async">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <a href="{{repo.html_url}}" target="_black"> 
                  {{repo.name}}
                </a>
              </h5>
              <p class="card-text">{{repo.description}}</p>
              <small class="card-subtitle mb-2 text-muted">
                <span> {{repo.language}} </span>
              </small>
            </div>
          </div>
      </div>
    </div>

    <ng-template #loading>
      <p>
        <i class="fa fa-spin fa-spinner"></i>
        Carregando...
      </p>
    </ng-template>
  </div>
</div>
   